@import "../vendor/normalize.css";
@import "../vendor/foundation.css";

$primary-color: #ffcc5c; //orange
$beige-color: #ffeead;
$red-color: #ff6f69;
$light-green: #88d8b0;
$darker-green: #96ceb4;
$blue-color: #427092;


$font-stack: 'Libre Baskerville', serif;
$dancingScript: 'Dancing Script', serif;


html body {
	width: 100%;
}



.center {
	text-align: center;
}

html body div .formRound {
	margin: 5% 0;
	border-radius: 7px;
	border: 3px solid $darker-green;
}



html form {
	margin: 0 auto;
	width: 300px;
}

.round.button {
	background-color: $light-green;
	margin: 5%;
}

html {
	height: 100%;
}

html body {
background-color: $light-green;
}

html h1, {
	color: $red-color;
    font-size: 3rem;
    font-family: $font-stack;
    font-weight: bold; 
}

html {
	h2, h3 {
		font-family: $dancingScript;
		color: $blue-color;
		

	}
}

html body .beigeContainer {
	border: 3px solid $primary-color;
	width: 70% ;
	margin: 0 auto;
	background-color:$beige-color;
	height: 100%;
}


//register specific styls 

html body .register {
	border: 3px solid $primary-color;
	width: 70% ;
	margin: 0 auto;
	background-color: $beige-color;
	height: auto;
}


.registerTextArea {
  max-width: 300px;
  max-height: 100px;
}

.registerText {
  max-width:300px;

}


