@import "../vendor/normalize.css";
@import "../vendor/foundation.css";

html body {
background-color: white;
}


.registerTextArea {
  max-width: 300px;
  max-height: 100px;
}

.registerText {
  max-width:300px;

}
