@import "../vendor/normalize.css";
@import "../vendor/foundation.css";

$primary-color: #ffcc5c; //orange
$primary-dark: #e5b752;
$beige-color: #ffeead;
$red-color: #ff6f69;
$light-green: #88d8b0;
$blue-color: #427092;


$font-stack: 'Libre Baskerville', serif;
$dancingScript: 'Dancing Script', serif;




.center {                                        //class #center used throughout markup to.... you guessed it "center things!"
	text-align: center;
}



html {
	body {                                       //green color on body div happens here. 
    	background-color: $light-green;
	}
}

html {
	body {
		.beigeContainer {                       //sets beige color and width for main content divs  
			border: 3px solid $primary-color;
			width: 70% ;
			margin: 0 auto;
			background-color:$beige-color;
			height: 100%;
		}
	}
}



html {
	h1, {                                        //font styling for h1 h2 h3's   
	color: $red-color;
    font-size: 3rem;
    font-family: $font-stack;
    font-weight: bold; 
    margin-top: 1.5rem;
}
	h2, 
	h3 {
		font-family: $dancingScript;
		color: $blue-color;
		margin: 3rem; 

	}
}

 

html {
	body {
		 div {
			.formRound {                         //rounds FORM input boxes
				margin: 5% 0;
				border-radius: 7px;
				border: 3px solid $darker-green;
			}
		}
	}
}



html {
	form {                                       //centers FORM on pages 
		margin: 0 auto;
		width: 300px;
	}
}

form > h5 {                                     //styling for FORM lables 
		margin: 2rem 0 0;
	}



.center img {                                   //rounds and sizes all headshot images 
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid $red-color;
}



div > p {                                       //sets paragraph size and centers 
	width: 300px;
    margin: -20px auto 15%;
}



html{
	body{
		div {

			.button {                            //button styles and effects
	        	background-color: $primary-color;
	        	cursor: pointer;
            }

			.button:hover,
			.button:focus {
				background-color: $primary-dark;
			}
			.logout.button,
			.to_profile.button {                 //Search page bttn's, next 4 rules.
				margin: 5% 5px 10%;
			}
			.button.like,
			.button.dislike {					 
				background-color: $light-green;
			}
			.button.dislike:hover,
			.button.like:hover {           
				opacity: .75;

			}
			.button.dislike:focus,
			.button.like:focus {                
				opacity: .75;
			}
		}
	}
}



                                                  //page specific styles 






//register specific styles                             

html body {
	.register {                                       
	border: 3px solid $primary-color;
	width: 70% ;
	margin: 0 auto;
	background-color: $beige-color;
	height: auto;
    }
}



.registerTextArea {
  max-width: 300px;
  max-height: 100px;
}

.registerText {
  max-width:300px;

}


// Profile specific styles




#profileLogoutBttn {
	margin: 0;
}


